<div *ngIf="quen_mk" class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8"></div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="card card-form">
                    <h2 class="text-center"> Nhập mật khẩu </h2>
                    <div class="card-body">
                            <small class="form-text text-muted"
                            *ngIf="ms">
                         <p style="color: red "> {{ms}} </p>
                       </small>
                        <form  [formGroup]="forgetPass" (ngSubmit)="forgetPassSubmit()"  >
                          
                            <div class="form-group">
                                <label for="username">Mật khẩu mới</label>
                                <small class="form-text text-muted" *ngIf=" forgetPass.controls['passwordnew'].errors && ( forgetPass.controls['passwordnew'].dirty || forgetPass.controls['passwordnew'].touched)">
                                        <p  style="color: red " *ngIf=" forgetPass.controls['passwordnew'].errors.required"> Mật khẩu không được để trống </p>
                                        <p  style="color: red " *ngIf="forgetPass.controls['passwordnew'].errors.minlength">Mật khẩu bé hơn 8 ký tự </p>
                                      </small>
                                <input    formControlName="passwordnew" type="password" class="form-control" id="username" aria-describedby="username" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="username">Nhập lại mật khẩu mới</label>
                                <small class="form-text text-muted" *ngIf=" forgetPass.controls['passwordconform'].errors && ( forgetPass.controls['passwordconform'].dirty || forgetPass.controls['passwordconform'].touched)">
                                        <p  style="color: red " *ngIf=" forgetPass.controls['passwordconform'].errors.required"> Mật khẩu không được để trống </p>
                                        <p  style="color: red " *ngIf="forgetPass.controls['passwordconform'].errors.minlength">Mật khẩu bé hơn 8 ký tự </p>
                                      </small>
                                      <small class="form-text text-muted" *ngIf=" forgetPass.controls['passwordconform'].valid ">
                                           
                                            <p  style="color: red " *ngIf=" forgetPass.errors"> Mật khẩu không trùng nhau </p>
                                            
                                          </small>
                                <input  formControlName="passwordconform" type="password" class="form-control" id="username" aria-describedby="username" placeholder="">
                            </div>
                            <div class="text-right"><button [disabled]="!forgetPass.valid " type="submit" class="btn btn-primary"><span>Tiếp tục</span></button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>