
	<div class="list-course">
            <section class="section-1">
                <div class="container">
                    <h2 class="text-center">DANH SÁCH KHÓA HỌC</h2>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 btndd">
                            <select class="form-control form-control-lg">
                                <option>Sắp xếp theo tên</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 btndd">
                            <select class="form-control form-control-lg">
                                <option>Giá</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 btndd">
                            <select class="form-control form-control-lg">
                                <option>Ngôn ngữ</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 btndd">
                            <select class="form-control form-control-lg">
                                <option>Ngày tạo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-2">
                <div class="container">
                    <div class="row">
                        <!-- card -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="card border-secondary">
                                <img class="card-img-top" src="assets/home/images/oracle.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><div class="parallelogram-blue"></div>
                                        <div class="parallelogram-orange"></div><div class="parallelogram-text"> HQTCSDL Oracle</div>
                                    </h5>
                                    <p class="card-text">Khóa học tìm hiểu và lập trình trên HQLCSDL Oracle...</p>
                                    <span>Giảng viên: <b>Trần Văn Thắng</b></span><br/>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <i class="fa fa-users"></i> 482
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                            <i class="fa fa-clock-o"></i> 45 giờ học
                                        </div>
                                    </div>
                                    <span><b class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></b></span>
                                    <div class="text-right"><a href="course.html" class="btn btn-light btninfo">Xem chi tiết</a></div>
                                </div>
                                <div class="card-footer text-right">
                                    <h6 class="price">999.000đ</h6>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- card -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="card border-secondary">
                                <img class="card-img-top" src="assets/home/images/oracle.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><div class="parallelogram-blue"></div>
                                        <div class="parallelogram-orange"></div><div class="parallelogram-text"> HQTCSDL Oracle</div>
                                    </h5>
                                    <p class="card-text">Khóa học tìm hiểu và lập trình trên HQLCSDL Oracle...</p>
                                    <span>Giảng viên: <b>Trần Văn Thắng</b></span><br/>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <i class="fa fa-users"></i> 482
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                            <i class="fa fa-clock-o"></i> 45 giờ học
                                        </div>
                                    </div>
                                    <span><b class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></b></span>
                                    <div class="text-right"><a href="course.html" class="btn btn-light btninfo">Xem chi tiết</a></div>
                                </div>
                                <div class="card-footer text-right">
                                    <h6 class="price">999.000đ</h6>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- card -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="card border-secondary">
                                <img class="card-img-top" src="assets/home/images/oracle.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><div class="parallelogram-blue"></div>
                                        <div class="parallelogram-orange"></div><div class="parallelogram-text"> HQTCSDL Oracle</div>
                                    </h5>
                                    <p class="card-text">Khóa học tìm hiểu và lập trình trên HQLCSDL Oracle...</p>
                                    <span>Giảng viên: <b>Trần Văn Thắng</b></span><br/>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <i class="fa fa-users"></i> 482
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                            <i class="fa fa-clock-o"></i> 45 giờ học
                                        </div>
                                    </div>
                                    <span><b class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></b></span>
                                    <div class="text-right"><a href="course.html" class="btn btn-light btninfo">Xem chi tiết</a></div>
                                </div>
                                <div class="card-footer text-right">
                                    <h6 class="price">999.000đ</h6>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- card -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="card border-secondary">
                                <img class="card-img-top" src="assets/home/images/oracle.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><div class="parallelogram-blue"></div>
                                        <div class="parallelogram-orange"></div><div class="parallelogram-text"> HQTCSDL Oracle</div>
                                    </h5>
                                    <p class="card-text">Khóa học tìm hiểu và lập trình trên HQLCSDL Oracle...</p>
                                    <span>Giảng viên: <b>Trần Văn Thắng</b></span><br/>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <i class="fa fa-users"></i> 482
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                            <i class="fa fa-clock-o"></i> 45 giờ học
                                        </div>
                                    </div>
                                    <span><b class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></b></span>
                                    <div class="text-right"><a href="course.html" class="btn btn-light btninfo">Xem chi tiết</a></div>
                                </div>
                                <div class="card-footer text-right">
                                    <h6 class="price">999.000đ</h6>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- card -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="card border-secondary">
                                <img class="card-img-top" src="assets/home/images/oracle.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><div class="parallelogram-blue"></div>
                                        <div class="parallelogram-orange"></div><div class="parallelogram-text"> HQTCSDL Oracle</div>
                                    </h5>
                                    <p class="card-text">Khóa học tìm hiểu và lập trình trên HQLCSDL Oracle...</p>
                                    <span>Giảng viên: <b>Trần Văn Thắng</b></span><br/>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <i class="fa fa-users"></i> 482
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                            <i class="fa fa-clock-o"></i> 45 giờ học
                                        </div>
                                    </div>
                                    <span><b class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></b></span>
                                    <div class="text-right"><a href="course.html" class="btn btn-light btninfo">Xem chi tiết</a></div>
                                </div>
                                <div class="card-footer text-right">
                                    <h6 class="price">999.000đ</h6>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- card -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="card border-secondary">
                                <img class="card-img-top" src="assets/home/images/oracle.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><div class="parallelogram-blue"></div>
                                        <div class="parallelogram-orange"></div><div class="parallelogram-text"> HQTCSDL Oracle</div>
                                    </h5>
                                    <p class="card-text">Khóa học tìm hiểu và lập trình trên HQLCSDL Oracle...</p>
                                    <span>Giảng viên: <b>Trần Văn Thắng</b></span><br/>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <i class="fa fa-users"></i> 482
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                            <i class="fa fa-clock-o"></i> 45 giờ học
                                        </div>
                                    </div>
                                    <span><b class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></b></span>
                                    <div class="text-right"><a href="course.html" class="btn btn-light btninfo">Xem chi tiết</a></div>
                                </div>
                                <div class="card-footer text-right">
                                    <h6 class="price">999.000đ</h6>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- card -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="card border-secondary">
                                <img class="card-img-top" src="assets/home/images/oracle.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><div class="parallelogram-blue"></div>
                                        <div class="parallelogram-orange"></div><div class="parallelogram-text"> HQTCSDL Oracle</div>
                                    </h5>
                                    <p class="card-text">Khóa học tìm hiểu và lập trình trên HQLCSDL Oracle...</p>
                                    <span>Giảng viên: <b>Trần Văn Thắng</b></span><br/>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <i class="fa fa-users"></i> 482
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                            <i class="fa fa-clock-o"></i> 45 giờ học
                                        </div>
                                    </div>
                                    <span><b class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></b></span>
                                    <div class="text-right"><a href="course.html" class="btn btn-light btninfo">Xem chi tiết</a></div>
                                </div>
                                <div class="card-footer text-right">
                                    <h6 class="price">999.000đ</h6>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- card -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="card border-secondary">
                                <img class="card-img-top" src="assets/home/images/oracle.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><div class="parallelogram-blue"></div>
                                        <div class="parallelogram-orange"></div><div class="parallelogram-text"> HQTCSDL Oracle</div>
                                    </h5>
                                    <p class="card-text">Khóa học tìm hiểu và lập trình trên HQLCSDL Oracle...</p>
                                    <span>Giảng viên: <b>Trần Văn Thắng</b></span><br/>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <i class="fa fa-users"></i> 482
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                            <i class="fa fa-clock-o"></i> 45 giờ học
                                        </div>
                                    </div>
                                    <span><b class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></b></span>
                                    <div class="text-right"><a href="course.html" class="btn btn-light btninfo">Xem chi tiết</a></div>
                                </div>
                                <div class="card-footer text-right">
                                    <h6 class="price">999.000đ</h6>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- card -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="card border-secondary">
                                <img class="card-img-top" src="assets/home/images/oracle.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><div class="parallelogram-blue"></div>
                                        <div class="parallelogram-orange"></div><div class="parallelogram-text"> HQTCSDL Oracle</div>
                                    </h5>
                                    <p class="card-text">Khóa học tìm hiểu và lập trình trên HQLCSDL Oracle...</p>
                                    <span>Giảng viên: <b>Trần Văn Thắng</b></span><br/>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <i class="fa fa-users"></i> 482
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                            <i class="fa fa-clock-o"></i> 45 giờ học
                                        </div>
                                    </div>
                                    <span><b class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></b></span>
                                    <div class="text-right"><a href="course.html" class="btn btn-light btninfo">Xem chi tiết</a></div>
                                </div>
                                <div class="card-footer text-right">
                                    <h6 class="price">999.000đ</h6>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- card -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="card border-secondary">
                                <img class="card-img-top" src="assets/home/images/oracle.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><div class="parallelogram-blue"></div>
                                        <div class="parallelogram-orange"></div><div class="parallelogram-text"> HQTCSDL Oracle</div>
                                    </h5>
                                    <p class="card-text">Khóa học tìm hiểu và lập trình trên HQLCSDL Oracle...</p>
                                    <span>Giảng viên: <b>Trần Văn Thắng</b></span><br/>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <i class="fa fa-users"></i> 482
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                            <i class="fa fa-clock-o"></i> 45 giờ học
                                        </div>
                                    </div>
                                    <span><b class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></b></span>
                                    <div class="text-right"><a href="course.html" class="btn btn-light btninfo">Xem chi tiết</a></div>
                                </div>
                                <div class="card-footer text-right">
                                    <h6 class="price">999.000đ</h6>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- card -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="card border-secondary">
                                <img class="card-img-top" src="assets/home/images/oracle.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><div class="parallelogram-blue"></div>
                                        <div class="parallelogram-orange"></div><div class="parallelogram-text"> HQTCSDL Oracle</div>
                                    </h5>
                                    <p class="card-text">Khóa học tìm hiểu và lập trình trên HQLCSDL Oracle...</p>
                                    <span>Giảng viên: <b>Trần Văn Thắng</b></span><br/>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <i class="fa fa-users"></i> 482
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                            <i class="fa fa-clock-o"></i> 45 giờ học
                                        </div>
                                    </div>
                                    <span><b class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></b></span>
                                    <div class="text-right"><a href="course.html" class="btn btn-light btninfo">Xem chi tiết</a></div>
                                </div>
                                <div class="card-footer text-right">
                                    <h6 class="price">999.000đ</h6>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- card -->
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                            <div class="card border-secondary">
                                <img class="card-img-top" src="assets/home/images/oracle.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"><div class="parallelogram-blue"></div>
                                        <div class="parallelogram-orange"></div><div class="parallelogram-text"> HQTCSDL Oracle</div>
                                    </h5>
                                    <p class="card-text">Khóa học tìm hiểu và lập trình trên HQLCSDL Oracle...</p>
                                    <span>Giảng viên: <b>Trần Văn Thắng</b></span><br/>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <i class="fa fa-users"></i> 482
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
                                            <i class="fa fa-clock-o"></i> 45 giờ học
                                        </div>
                                    </div>
                                    <span><b class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></b></span>
                                    <div class="text-right"><a href="course.html" class="btn btn-light btninfo">Xem chi tiết</a></div>
                                </div>
                                <div class="card-footer text-right">
                                    <h6 class="price">999.000đ</h6>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                </div>
            </section>
        </div>