
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8"></div>
				<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
					<div class="card card-form">
						
						<h2 class="text-center">Đăng nhập</h2>
						<div class="card-body">
								<small class="form-text text-muted"
								*ngIf="ms">
							 <p style="color: red " >{{ms}}</p>
							</small>
							<form  (ngSubmit)="login() && loginGroup.valid" [formGroup]="loginGroup" novalidate >
								
								<div class="form-group ">
									<label for="username">Tên đăng nhập</label>
									<small class="form-text text-muted"
									*ngIf=" loginGroup.controls['email'].errors && ( loginGroup.controls['email'].dirty || loginGroup.controls['email'].touched)">
								 <p style="color: red " *ngIf=" loginGroup.controls['email'].errors.required">Email không được để trống </p>
								 <p  style="color: red " *ngIf=" loginGroup.controls['email'].errors.pattern"> Email nhập không hợp lệ  </p>
							   </small>
									<input 
									[ngClass]="{
										'has-warning': loginGroup.controls['email']?.invalid && ( loginGroup.controls['email']?.dirty || loginGroup.controls['email']?.touched),
										'has-success': loginGroup.controls['email']?.valid && (loginGroup.controls['email']?.dirty || loginGroup.controls['email']?.touched)
								   }" 
									
									formControlName="email" required type="email" class="form-control " id="username" aria-describedby="username" placeholder="">
								</div>
								<div class="form-group">
									<label for="password">Mật khẩu</label>
									<small class="form-text text-muted" *ngIf=" loginGroup.controls['password'].errors && ( loginGroup.controls['password'].dirty || loginGroup.controls['password'].touched)">
											<p  style="color: red " *ngIf=" loginGroup.controls['password'].errors.required"> Mật khẩu không được để trống </p>
											<p  style="color: red " *ngIf="loginGroup.controls['password'].errors.minlength">Mật khẩu bé hơn 8 ký tự </p>
										  </small>
									<input
									[ngClass]="{
										'has-warning': loginGroup.controls['password']?.invalid && ( loginGroup.controls['password']?.dirty || loginGroup.controls['email']?.touched),
										'has-success': loginGroup.controls['password']?.valid && (loginGroup.controls['password']?.dirty || loginGroup.controls['email']?.touched)
								   }" 
									formControlName="password" type="password" class="form-control" id="password" placeholder="">
									<!-- <small id="username" class="form-text text-muted">Bạn phải nhập vào trường này</small>	 -->
								
								</div>
								<div class="form-check">
									<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
										<input formControlName="forword"  type="checkbox" class="custom-control-input">
										<span class="custom-control-indicator"></span>
										<span class="custom-control-description">Ghi nhớ tôi!</span>
									</label>
								</div>
								<!-- <pre>{{loginGroup.value | json}}</pre> -->
								<div class="text-right"><button type="submit"  [disabled]="!loginGroup.valid"   class="btn btn-default"><span>Đăng nhập </span></button></div>
							</form>
						</div>
						<div class="card-footer">
							<div class="row">
								<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
									<a routerLink="/pages/home-pages/quen-mat-khau" href="forgot-password.html">Quên mật khẩu?</a>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
									<a routerLink="/pages/home-pages/dang-ky" >Đăng ký</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>