<!-- course -->
<div class="course">
		<section class="section-1">
			<div class="container">
				<div class="row course-title">
					<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
						<h1> {{ course.courseTitle }}</h1>
						<div class="row">
							<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
								Giảng viên: <b> {{ author.userName  }}</b>
									
							</div>

							<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
								Số thành viên: <b> {{course.views
								}} người</b>
							</div>

							<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
								Số giờ học: <b>45 giờ</b>
							</div>
						</div>
						<div class="rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
						<img src="{{course.courseAvatar}}" class="rounded mx-auto d-block" alt="...">
					</div>
				</div>
			</div>
		</section>
		<section class="section-2">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 icol-1">
						<h3>Học xong khóa học này bạn có thể</h3>
						<ul>
							<li><i class="fa fa-check"></i> Diễn giải được vai trò của CSDL trong hệ thống thông tin, các khái niệm cơ bản trong CSDL, mô hình dữ liệu quan hệ.</li>
							<li><i class="fa fa-check"></i> Hướng dẫn học viên mô hình hóa dữ liệu bằng mô hình thực thể kết hợp (ER).</li>
							<li><i class="fa fa-check"></i> Trình bày cách chuyển đổi từ mô hình ER sang mô hình quan hệ.</li>
							<li><i class="fa fa-check"></i> Sử dụng HQT CSDL SQL để xây dựng CSDL và sử dụng ngôn ngữ truy vấn để thao tác trên CSDL.</li>
							<li><i class="fa fa-check"></i> Giới thiệu về ràng buộc toàn vẹn, phát hiện và khai báo RBTV trên CSDL.</li>
							<li><i class="fa fa-check"></i> Tự học viên có thể phân tích được các mô hình dữ liệu thực thế.</li>
							<li><i class="fa fa-check"></i> Tự học viên có thể thiết kế và viết các câu truy vấn về CSDL.</li>
						</ul>
						<h3>Ai có thể học khóa học này?</h3>
						<ul>
							<li><i class="fa fa-check"></i> Tất cả các bạn đam mê về lập trình, đam mê công nghệ thông tin</li>
						</ul>
						<h3>Yêu cầu về khóa học?</h3>
						<ul>
							<li><i class="fa fa-check"></i> Máy tính có thể cài đặt chương trình Cơ sở dữ liệu SQL (khoảng 1,5 Gb)</li>
						</ul>
					</div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 icol-2">
						<div class="card">
							<div class="card-header">
								<h3 class="text-right"> {{ course.price }}đ</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
										<span><i class="fa fa-file-text"></i> Bài học: </span>
									</div>
									<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
										<span>24 bài học</span>
									</div>
								</div>
								<div class="row">
									<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
										<span><i class="fa fa-file-text"></i> Thời lượng video: </span>
									</div>
									<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
										<span>9 giờ 59 phút</span>
									</div>
								</div>
								<div class="row">
									<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
										<span><i class="fa fa-file-text"></i> Chủ để: </span>
									</div>
									<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
										<span>CSDL</span>
									</div>
								</div>
								<div class="row">
									<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
										<span><i class="fa fa-eye"></i> Lượt xem: </span>
									</div>
									<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
										<span>202</span>
									</div>
								</div>
								<br/>
								<div class="text-right">
									<a  (click)="ghiDanh()" class="btn btn-block btn-light btn-book">Ghi danh</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-3">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 icol-1">
						<h3>Bài 1: bla bla bla</h3>
						<hr/>
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hCoZpTg8kyY" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 icol-2">
						<div class="card">
							<div class="card-header">
								<h4 class="text-right">Giới thiệu khóa học</h4>
							</div>
							<div class="card-body">
								<h5>Giới thiệu về khóa học</h5>
								<p [innerHTML]="course.courseDetail">
									
								
									</p>
								<div class="collapse" id="collapse">
									<p>Thông qua khóa học Lazada này các bạn sẽ nắm bắt được cách vận dụng các kiến thức cơ bản của android để hoàn thành ứng dụng, ngoài ra các bạn sẽ còn biết được cách tổ chức code theo mô hình MVP pattern để có thể quản lý code tốt hơn, không những vậy các bạn sẽ nắm bắt được cách thức tạo Webservice với cả 2 ngôn ngữ lập trình Web hot nhất hiện nay là PHP và ASP.NET cũng như cách trao đổi dữ liệu của Webservice và ứng dụng Android.</p>

									<p>Khi đến với khóa học này các bạn sẽ có thể làm các ứng dụng liên quan tới Webservice cũng như ứng dụng bán hàng và đặt hàng trên thiết bị Android.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-4">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 icol-1">
						<h3>Đề cương môn học</h3>
						<div class="list-group">
							<span class="list-group-item list-group-item-action flex-column align-items-start active">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">Chương 0</h5>
									<small><i class="fa fa-clock-o"></i> 0 phút</small>
								</div>
							</span>
							<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
								<p class="mb-1"><i class="fa fa-file"></i> Source code và slide khóa học Nền tảng Cơ Sở Dữ Liệu qua các ví dụ Thực tiễn</p>
							</a>
						</div>

						<div class="list-group">
							<span class="list-group-item list-group-item-action flex-column align-items-start active">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">Chương 1</h5>
									<small><i class="fa fa-clock-o"></i> 10 phút</small>
								</div>
							</span>
							<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
								<p class="mb-1"><i class="fa fa-play-circle"></i> Bài 1: Giới thiệu chung, đối tượng sử dụng, HQT CSDL, các ứng dụng của CSDL</p>
							</a>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 icol-2">
						<div class="card">
							<div class="card-header">
								<h4 class="text-right">Thông tin giảng viên</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-6">
										<img class="img-thumbnail" src="assets/home/images/oracle.jpg" alt="">
									</div>
									<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-6 text-right">
										<h6><b>Trần Văn Thắng</b></h6>
										<h6><i class="fa fa-play-circle-o"></i> 1 khóa học</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-5">
			<div class="container icol-1">
				<h3>Khóa học có liên quan</h3>
				<div class="row">
					<!-- card -->
				
					<!-- end card -->
					<!-- card -->
				
					<!-- end card -->
					<!-- card -->
					<div  *ngFor="let it of listCourse" class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 wow bounceInUp">
						<div class="card border-secondary">
							<img class="card-img-top" src="{{it.courseAvatar}}" alt="">
							<div class="card-body">
								<h5 class="card-title"><div class="parallelogram-blue"></div>
									<div class="parallelogram-orange"></div><div class="parallelogram-text"> {{ it.courseTitle }}</div>
								</h5>
								<p class="card-text"> {{ it.courseDescription}} </p>
								<span>Giảng viên: <b>Trần Văn Thắng</b></span><br/>
								<div class="row">
									<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
										<i class="fa fa-users"></i> 482
									</div>
									<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
										<i class="fa fa-clock-o"></i> 45 giờ học
									</div>
								</div>
								<span><b class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></b></span>
								<div class="text-right"><a  (click)="goProducts(it.courseID)"  class="btn btn-light btninfo">Xem chi tiết</a>
								
								</div>
							</div>
							<div class="card-footer text-right">
								<h6 class="price"> {{ it.price }} đ </h6>
							</div>
						</div>
					</div>
					<!-- end card -->
				</div>
			</div>
		</section>
		<section class="section-6">
			<div class="container">
				<div class="sec-rating">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 icol-1">
							<h5>Đánh giá của học viên</h5>
							<h1>4.6</h1>
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 icol-2">
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 88%" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">88%</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 4%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100">4%</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 8%" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100">8%</div>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 icol-3">
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
								<i class="fa fa-star-o"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="comment">
					
				</div>
			</div>
		</section>
	</div>

